body {
  background: black;
  font-family: "Varela", sans-serif;
}

.glitch {
  color: white;
  font-size: 50px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip-path: inset(76% 0 10% 0);
  }
  5% {
    clip-path: inset(99% 0 1% 0);
  }
  10% {
    clip-path: inset(33% 0 29% 0);
  }
  15% {
    clip-path: inset(68% 0 30% 0);
  }
  20% {
    clip-path: inset(15% 0 11% 0);
  }
  25% {
    clip-path: inset(27% 0 66% 0);
  }
  30% {
    clip-path: inset(36% 0 32% 0);
  }
  35% {
    clip-path: inset(43% 0 16% 0);
  }
  40% {
    clip-path: inset(18% 0 67% 0);
  }
  45% {
    clip-path: inset(7% 0 43% 0);
  }
  50% {
    clip-path: inset(37% 0 24% 0);
  }
  55% {
    clip-path: inset(16% 0 28% 0);
  }
  60% {
    clip-path: inset(75% 0 20% 0);
  }
  65% {
    clip-path: inset(44% 0 31% 0);
  }
  70% {
    clip-path: inset(62% 0 36% 0);
  }
  75% {
    clip-path: inset(50% 0 1% 0);
  }
  80% {
    clip-path: inset(73% 0 21% 0);
  }
  85% {
    clip-path: inset(4% 0 44% 0);
  }
  90% {
    clip-path: inset(40% 0 54% 0);
  }
  95% {
    clip-path: inset(17% 0 80% 0);
  }
  100% {
    clip-path: inset(28% 0 12% 0);
  }
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip-path: inset(27% 0 17% 0);
  }
  5% {
    clip-path: inset(77% 0 1% 0);
  }
  10% {
    clip-path: inset(89% 0 10% 0);
  }
  15% {
    clip-path: inset(58% 0 41% 0);
  }
  20% {
    clip-path: inset(70% 0 12% 0);
  }
  25% {
    clip-path: inset(37% 0 20% 0);
  }
  30% {
    clip-path: inset(16% 0 12% 0);
  }
  35% {
    clip-path: inset(27% 0 29% 0);
  }
  40% {
    clip-path: inset(91% 0 2% 0);
  }
  45% {
    clip-path: inset(46% 0 10% 0);
  }
  50% {
    clip-path: inset(95% 0 5% 0);
  }
  55% {
    clip-path: inset(55% 0 28% 0);
  }
  60% {
    clip-path: inset(71% 0 11% 0);
  }
  65% {
    clip-path: inset(43% 0 33% 0);
  }
  70% {
    clip-path: inset(29% 0 48% 0);
  }
  75% {
    clip-path: inset(88% 0 2% 0);
  }
  80% {
    clip-path: inset(77% 0 10% 0);
  }
  85% {
    clip-path: inset(32% 0 54% 0);
  }
  90% {
    clip-path: inset(42% 0 7% 0);
  }
  95% {
    clip-path: inset(49% 0 47% 0);
  }
  100% {
    clip-path: inset(58% 0 14% 0);
  }
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  animation: noise-anim-2 15s infinite linear alternate-reverse;
}
.hidden 
{
	color:#000000;
  font-size: 35px;
  text-align:center;
}
